<%- include left %>
<%- include header %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="sub-header">文件上传</h3>
    <form class="navbar-form" data-postUrl="/api/upload/single" enctype="multipart/form-data">
        <h4>单图上传</h4>
        <input type="file" class="form-control form-file" name="file">
		<button class="btn btn-default btn-upload">上传</button>
        <div class="imgfile-list"></div>
    </form>
	<br>

    <form class="navbar-form" data-postUrl="/api/upload/multi" enctype="multipart/form-data">
        <h4>多图上传</h4>
        <input type="file" class="form-control form-file" name="files" multiple="multiple">
        <button class="btn btn-default btn-upload">上传</button>
        <div class="imgfile-list"></div>
    </form>
    <br>
	
    <form class="navbar-form" data-postUrl="/api/upload/qiniu" enctype="multipart/form-data">
        <h4>七牛上传</h4>
        <input type="file" class="form-control form-file" name="qiniu">
        <button class="btn btn-default btn-upload">上传</button>
        <div class="imgfile-list"></div>
    </form>
</div>
<%- include footer %>