<%- include left %>
<%- include header %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="sub-header">文章列表</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="article-list"></tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination article-page"></ul>
        </nav>
    </div>
</div>
<%- include footer %>