<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">文章列表</a></li>
        <li><a href="#">文章详情</a></li>
        <li><a href="#">添加文章</a></li>
        <li><a href="#">修改文章</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">用户注册</a></li>
        <li><a href="">用户登录</a></li>
        <li><a href="">用户退出</a></li>
        <li><a href="">用户是否登录</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="form">文件上传</a></li>
    </ul>
</div>